.home-banner {
  background-image: url("../../../assets/images/home_bkg.jpg");
  background-size: cover;
  background-position: center center;
  height: 400px;
  border: none;
}

.banner-effect-top {
  position: relative;
  height: 200px;
  width: 100%;
  background-image: linear-gradient(to bottom, black, rgba(0, 0, 0, 0.4));
}

.banner-effect-bottom {
  position: relative;
  height: 200px;
  width: 100%;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), black);
}

.banner-content {
  width: 100%;
  height: 400px;
  position: absolute;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  top: 0px;
  padding: 50px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  z-index: 0;
}

.banner-content h1 {
  color: #589dd4;
  font-size: 60px;
}

.banner-content p {
  font-size: 20px;
  padding: 5px 20%;
  margin-bottom: 30px;
}

.banner-button {
  font-size: 15px;
  margin: 0px 20%;

  button {
    z-index: 0;
    a {
      color: white;
      font-weight: bold;
      text-decoration: none;
      display: block;
      height: 100%;
      width: 100%;
      z-index: 2;
    }
  }
}

@media (max-width: 650px) {
  .banner-content p {
    padding: 5px 10%;
  }
}

@media (max-width: 540px) {
  .banner-content h1 {
    font-size: 40px;
  }

  .banner-content p {
    font-size: 16px;
    padding: 5px 0px;
  }

  .banner-button {
    margin: 20px 0px;
  }
  .banner-button button {
    font-size: 14px;
    padding: 15px 30px;
    margin: 0px;
  }
}

.home-display {
  margin: 50px;
  gap: 50px;
  align-items: center;
  justify-content: center;
}

.home-display-item {
  text-align: center;
  border: 1px solid #589dd4;
  color: black;
  text-decoration: none;
  border-radius: 10px;
  height: 100%;
  max-width: 450px;
  padding: 20px;
  transition: 0.5s;
}

.home-display-item:hover {
  transform: scale(1.1);
}

.home-display-item img {
  height: 80px;
  width: 80px;
  margin: 10px 0px;
}

.home-display-item p {
  font-size: 20px;
  min-height: 100px;
}
