<section class="home-banner">
  <div class="banner-effect-top"></div>
  <div class="banner-effect-bottom"></div>
  <div class="banner-content">
    <h1>Sobre nós</h1>
    <p class="">
      Somos uma empresa de agendamento de eventos que busca sempre trazer a
      melhor qualidade e conforto para você seja em uma festa, um show ou em
      festivais.
    </p>
    <div class="banner-button">
      <button class="btn btn-primary btn-lg btn-block">
        <a routerLink="/myevents/create">Crie seus eventos</a>
      </button>
    </div>
  </div>
</section>

<section>
  <div class="row home-display">
    <div class="col-12 col-md-4 home-display-item">
      <img src="../../../assets/logos/clock_logo.png" alt="" />
      <p>Crie seus eventos de maneira rápida e fácil</p>
    </div>
    <div class="col-12 col-md-4 home-display-item">
      <img src="../../../assets/logos/mail_logo.png" alt="" />
      <p>Chame seus amigos para seus eventos e curtam juntos</p>
    </div>
    <div class="col-12 col-md-4 home-display-item">
      <img src="../../../assets/logos/search_logo.png" alt="" />
      <p>Encontre eventos que são do seu interesse</p>
    </div>
  </div>
</section>
