.login-container {
  position: absolute;
  top: -76px;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form {
  width: 600px;
  min-width: (320px);
}

.login-bkg {
  background-image: url("../../../assets/images/login_bkg.jpg");
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center center;
  border: none;
  background-attachment: fixed;
  object-fit: contain;
}

.login-bkg-effect {
  position: relative;
  width: 30%;
  height: 100%;
  background-image: linear-gradient(to right, white, rgba(0, 0, 0, 0));
}
