<section class="login-container">
  <div class="login-form">
    <!-- Form Logo -->
    <div class="text-center">
      <a routerLink="/home">
        <img src="../../../assets/logos/tevents_logo.png" alt="tkevents_logo" />
      </a>
    </div>

    <!-- Form Render -->
    <router-outlet></router-outlet>
  </div>

  <aside class="login-bkg">
    <div class="login-bkg-effect"></div>
  </aside>
</section>
