<div class="toggle">
  <input id="menu-hamburguer" type="checkbox" [(ngModel)]="checked" />

  <!-- Image -->
  <label for="menu-hamburguer">
    <div class="menu">
      <span class="hamburguer"></span>
    </div>
  </label>

  <!-- Links -->
  <ul class="menu-items">
    <li>
      <a routerLink="/home" (click)="closeMenu()"> Home</a>
    </li>
    <li>
      <a routerLink="/events" (click)="closeMenu()">Eventos</a>
    </li>
    <li>
      <a routerLink="/myevents" (click)="closeMenu()">Meus Eventos</a>
    </li>
    <li>
      <a
        routerLink="/user/login"
        (click)="closeMenu()"
        *ngIf="!userName; else profile"
        >Login</a
      >
      <ng-template #profile>
        <a routerLink="/profile" (click)="closeMenu()">Perfil</a>
        <a (click)="logOutUser()">Sair</a>
      </ng-template>
    </li>
  </ul>
</div>
