<header class="px-4 pt-4 font-weight-bold">
  <p style="font-size: 15px; margin: 0px">Conecte-se com a sua conta</p>
</header>
<form
  class="form-container px-4 pb-4"
  [formGroup]="forms"
  (ngSubmit)="onSubmit()"
>
  <!-- Email -->
  <div class="form-group form-input mt-3">
    <img class="mr-2 mb-1" src="../../../../assets/icons/email_icon.png" />
    <label>Email</label>
    <input
      class="form-control"
      type="email"
      placeholder="Digite seu email"
      formControlName="email"
      (blur)="validField(forms.get('email'))"
      [ngClass]="{ 'border-danger': validField(forms.get('email')) }"
    />
    <app-input-error
      [hasError]="validField(forms.get('email'))"
      [showOnly]="forms.get('email').touched"
      [errorMsg]="'Email está no formato incorreto!'"
      [successMsg]="'Email válido'"
    ></app-input-error>
  </div>

  <!-- Password -->
  <div class="form-group form-input mt-3">
    <img class="mr-2 mb-1" src="../../../../assets/icons/password_icon.png" />
    <label>Senha</label>
    <input
      class="form-control"
      type="password"
      placeholder="Digite sua senha"
      formControlName="password"
    />
  </div>

  <!-- Errors display -->
  <div
    class="alert alert-danger py-2 show-0-100"
    role="alert"
    *ngIf="errors?.length > 0"
  >
    <ul class="m-0 list-unstyled">
      <li *ngFor="let error of errors">{{ error }}</li>
    </ul>
  </div>

  <!-- Submit -->
  <button
    class="btn btn-primary btn-lg btn-block mt-4"
    [disabled]="!forms.valid"
  >
    Login
  </button>
</form>

<!-- Change to register form -->
<div class="goto-register">
  <h4 class="m0">Não Possui uma conta?</h4>
  <a routerLink="/user/register">Cadastre-se agora!</a>
</div>
