<div class="container">
  <!-- Header -->
  <app-event-header
    [title]="'Remover evento'"
    [image]="'remove'"
  ></app-event-header>

  <!-- Remove Forms -->
  <form
    class="form-container px-4 pb-4"
    [formGroup]="forms"
    (ngSubmit)="onSubmit()"
  >
    <!-- Select event -->
    <div class="centralize form-group form-input mt-3">
      <select class="custom-select col-md-4" formControlName="selectedEvent">
        <option selected hidden>Selecione um evento</option>
        <option *ngFor="let event of userEvents">
          {{ event.name }}
        </option>
      </select>
    </div>

    <!-- Success display -->
    <div
      class="alert alert-success py-2 show-0-100"
      role="alert"
      *ngIf="successMsg?.length > 0"
    >
      <p>
        {{ successMsg }}<br />
        Atualize a página para visualizar a remoção!
      </p>
    </div>

    <!-- Submit -->
    <button
      class="btn btn-primary btn-lg btn-block mt-4"
      [disabled]="!forms.valid"
    >
      Remover evento
    </button>
  </form>
</div>
