.show-0-100 {
  animation: show0to100 1s;
}

@keyframes show0to100 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.slide-lr {
  animation: slide-left-right 0.3s forwards;
}
@keyframes slide-left-right {
  100% {
    left: 0;
  }
}
