@import "variables.scss";

.form-input img {
  height: 20px;
  width: 20px;
}

.form-input label {
  color: $primary;
}

.form-input input {
  border: 1px solid $primary;
  transition: 0.1s;
}

.form-input input:focus {
  box-shadow: 0px 0px 4px $primary;
}
