// collors
$primary: #589dd4 !default;
$secondary: #4884b6 !default;

// Nav
$navbar-padding-x: 0px;
$navbar-padding-y: 0px;

$navbar-nav-link-padding-x: 2rem;

$nav-link-padding-y: 1.45rem;
$nav-link-padding-x: 2rem;

$navbar-light-color: $primary;
$navbar-light-hover-color: $secondary;
$navbar-light-active-color: $secondary;

$navbar-light-toggler-border-color: $primary;

// Btn
$btn-border-radius-lg: 0.5rem;
$input-btn-focus-width: 0;
$input-border-color: $primary;

// Headings
$headings-margin-bottom: 0px;
$headings-font-family: sans-serif;

// Paragraphs
$paragraph-margin-bottom: 0px;
