<section class="events-container pt-4 text-primary">
  <h1>Eventos</h1>
  <div class="events-heading centralize">
    <div class="form-group form-input mt-3 input-date">
      <img class="mr-2 mb-1" src="../../../assets/icons/event_icon.png" />
      <label>Selecione uma data para visualizar:</label>
      <input
        class="form-control"
        type="date"
        placeholder="Digite seu email"
        [(ngModel)]="selectedDate"
        (change)="getEventsByDate()"
      />
    </div>
  </div>

  <!-- Display Events -->
  <app-display-events
    [eventsInput]="events"
    *ngIf="events?.length > 0; else noEvents"
  ></app-display-events>

  <!-- If there isnt any event avaliable -->
  <ng-template #noEvents>
    <h1 class="mt-4">Não há eventos na data selecionada!</h1>
  </ng-template>
</section>
