@import "../../../styles//variables.scss";

.events-container {
  text-align: center;
  max-width: 100vw;
}

.events-heading {
  padding-bottom: 10px;
  border-bottom: 1px solid $primary;
  box-shadow: 0px 1px 1px $primary;
}

.input-date {
  transform: translate(-5px, 0%);
}
