.error-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.error-page {
  background-repeat: no-repeat;
  height: 90vh;
  width: 100vw;

  img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
}
