.display-events {
  width: 100%;
  padding-bottom: 20px;
}

.event-content {
  font-family: sans-serif;
  transition: 0.3s;
  margin: 20px 20px;
  width: 200px;
  height: 350px;
  color: black;

  &:hover {
    box-shadow: 0px 0px 5px rgb(0, 0, 0, 0.5);
    border-radius: 10px;
    transform: scale(1.1);
    cursor: default;
  }
}

.event-img img {
  height: 150px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #589dd4;
}

.event-info {
  padding: 15px;
  padding-bottom: 0px;

  h1 {
    font-size: 15px;
    font-weight: 1000;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
  }

  h3 {
    font-size: 10px;
    color: #589dd4;
    margin-bottom: 5px;
    font-weight: 700;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(202, 202, 202);
  }

  p {
    margin: 10px 0px;
    font-size: 12px;
    display: hidden !important;
    overflow: hidden;
  }
}
