<div class="display-events centralize row justify-content-md-center mt-4 mx-0">
  <!-- Event info -->
  <div
    class="event-content"
    *ngFor="let event of events"
    (mouseenter)="hoverEvent(event?._id)"
    (mouseleave)="hoverEvent(event?._id)"
  >
    <!-- Image -->
    <div class="event-img">
      <img src="{{ event?.img }}" />
    </div>
    <div class="event-info">
      <!-- Date -->
      <h3>
        De: {{ event?.startDate | date: "dd/MM/yy":"GMT-0:00" }} às
        {{ event?.startHour }}h
        <br />
        Até: {{ event?.finishDate | date: "dd/MM/yy":"GMT-0:00" }} às
        {{ event?.finishHour }}h
      </h3>

      <!-- Name -->
      <h1>{{ event?.name }}</h1>

      <!-- Description -->
      <p *ngIf="event?.showParagraph">{{ event?.description }}</p>
    </div>
  </div>
</div>
