@import "../../../styles/variables.scss";

.nav-fixed {
  position: fixed;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-height: 76px;
  min-height: 76px;
  z-index: 1;
}

.nav-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 15px;
}

.nav-icon img {
  height: 50px;
  object-fit: contain;
}

.nav-login {
  background-color: $primary;
  position: absolute;
  box-sizing: border-box;
  right: 0px;
  width: 150px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease-out;
  &:hover {
    background-color: $secondary;
  }
}

.nav-login a {
  height: 100%;
  width: 100%;
  color: white;
  letter-spacing: 5px;
  font-size: 20px;
  font-weight: bold;
  &:hover {
    text-decoration: none;
  }
}

.toggle-menu {
  display: none;
}

@media (max-width: 800px) {
  .links {
    display: none;
  }
  .nav-login {
    display: none;
  }
  .toggle-menu {
    display: block;
  }
}

.nav-userdata {
  text-align: center;
}

.nav-userdata h5 {
  font-size: 13px;
  letter-spacing: 0px;
  transition: 0.3s;

  &:hover {
    text-decoration: underline;
  }
}

.nav-userdata button {
  font-size: 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  width: 50px;
  // height: 20px;
  padding: 1px;
  color: white;
  background-color: $primary;
  border: 2px solid white;
  border-radius: 5px;
  z-index: 1;

  &:hover {
    background-color: white;
    text-decoration: underline;
    color: $primary;
  }

  &:focus {
    border: 2px solid white;
    outline: none;
  }
}
