<nav
  class="navbar navbar-expand-lg navbar-light bg-light nav-fixed"
  *ngIf="!isAtloginPage"
>
  <!-- Logo -->
  <ul class="nav">
    <li class="nav-item nav-icon">
      <a routerLink="/home" class="nav-icon">
        <img src="../../assets/logos/tevents_logo.png" alt="" />
      </a>
    </li>

    <!-- Links -->
    <li class="nav-item links">
      <app-links></app-links>
    </li>
  </ul>

  <!-- Login -->
  <div class="nav-login">
    <!-- Login display -->
    <a
      routerLink="/user/login"
      routerLinkActive="active"
      class="centralize"
      *ngIf="!userName; else showUserName"
      >Login</a
    >

    <!-- User data display -->
    <ng-template #showUserName>
      <div class="nav-userdata m-1">
        <a routerLink="/profile">
          <h5>{{ userName }}</h5>
          <h5>{{ userEmail }}</h5>
        </a>
        <button (click)="logOutUser()">SAIR</button>
      </div>
    </ng-template>
  </div>

  <!-- Toggle menu -->
  <div class="toggle-menu">
    <app-toggle [userName]="userName"></app-toggle>
  </div>
</nav>
