@import "../../../styles/variables.scss";
.side-bar-container {
  height: 100%;
}

.side-bar {
  height: 100%;
  width: 250px;
  position: relative;
  left: -250px;

  background-color: $primary;

  padding-top: 15px;
}

.toggle-button {
  background-color: white;

  height: 50px;
  width: 50px;
  border: 3px solid $primary;
  border-radius: 10px;
  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  top: 10px;
  left: -15px;

  z-index: 1;

  img {
    transform: rotate(-90deg);
  }

  transition: 0.3s;
  &:hover {
    background-color: rgb(240, 240, 240);
    cursor: pointer;
  }
}
.side-title {
  // display: flex;
  text-align: center;
  margin: 20px 0px;

  h1 {
    color: white;
    font-size: 25px;
    font-weight: 1000;
    letter-spacing: 2px;
  }
}

.side-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.side-content-list {
  list-style-type: none;
  width: 100%;

  &:first-child {
    border-top: 1px solid white;
  }
}

.side-content-list li {
  border-bottom: 1px solid white;
  height: 50px;
  width: 100%;

  a {
    display: flex;
    font-size: 15px;
    color: white;
    font-weight: 1000;
    letter-spacing: 2px;

    text-decoration: none;
    width: 100%;
    height: 100%;

    align-items: center;
    justify-content: center;
  }
}

.active-side-bar {
  border-left: 10px solid white;
  transition: 0.3s;
}
