<nav class="side-bar-container d-flex">
  <div class="side-bar slide-lr" *ngIf="showSideBar">
    <!-- Header -->
    <header class="side-title">
      <img
        src="../../../assets/icons/engine_icon_white.png"
        alt="engine_icon"
      />
      <h1>Gerenciador de eventos</h1>
    </header>

    <!-- Links -->
    <div class="side-content">
      <ul class="side-content-list">
        <li>
          <a routerLink="create" routerLinkActive="active-side-bar"
            >Criar evento</a
          >
        </li>
        <li>
          <a routerLink="update" routerLinkActive="active-side-bar"
            >Atualizar evento</a
          >
        </li>
        <li>
          <a routerLink="delete" routerLinkActive="active-side-bar"
            >Remover evento</a
          >
        </li>
      </ul>
    </div>
  </div>

  <!-- Toggle to open and close the sidebar -->
  <div class="toggle-button" (click)="changeSideBar()">
    <img
      src="../../../assets/icons/arrow_icon.png"
      alt="arrow_icon"
      *ngIf="!showSideBar; else showCloseIcon"
    />
    <ng-template #showCloseIcon>
      <img src="../../../assets/icons/close_icon.png" alt="arrow_icon" />
    </ng-template>
  </div>
</nav>
