<section class="d-flex my-events-page">
  <!-- Sidebar -->
  <app-side-bar></app-side-bar>

  <!-- Content -->
  <main class="my-events-content">
    <router-outlet></router-outlet>

    <header class="centralize text-primary mt-4">
      <h1 *ngIf="userEvents?.length > 0; else noEvents">Meus Eventos</h1>
      <ng-template #noEvents>
        <h1 class="mt-4">Você não possui eventos criados!</h1>
      </ng-template>
    </header>

    <!-- Events -->
    <app-display-events
      [eventsInput]="userEvents"
      *ngIf="userEvents?.length > 0"
    ></app-display-events>
  </main>
</section>
