.my-events-page {
  width: 100%;
  display: flex;
}

.my-events-content {
  min-height: 100vh;
  width: 100%;
}

.my-events-content h1 {
  padding: 0px 15px;
  text-align: center;
  left: -50px;
}

@media (max-width: 320px) {
  .my-events-content {
    position: relative;

    left: -50px;

    h1 {
      font-size: 25px;
    }
  }
}
