<div class="form-container">
  <header class="container text-center page-title px-4">
    <h1>Atualize seus dados:</h1>
  </header>

  <form class="container px-4 pb-4" [formGroup]="forms" (ngSubmit)="onSubmit()">
    <!-- Name -->
    <div class="form-group form-input mt-3">
      <img class="mr-2 mb-1" src="../../../../assets/icons/user_icon.png" />
      <label>Mudar Nome</label>
      <input
        class="form-control"
        type="text"
        placeholder="Digite seu nome"
        formControlName="name"
        (blur)="validField(forms.get('name'))"
        [ngClass]="{ 'border-danger': validField(forms.get('name')) }"
      />
      <app-input-error
        [hasError]="validField(forms.get('name'))"
        [showOnly]="forms.get('name').touched"
        [errorMsg]="'Nome deve conter no mínimo 5 caracteres'"
        [successMsg]="'Nome válido'"
      ></app-input-error>
    </div>

    <!-- Email -->
    <div class="form-group form-input mt-3">
      <img class="mr-2 mb-1" src="../../../../assets/icons/email_icon.png" />
      <label>Mudar Email</label>
      <input
        class="form-control"
        type="email"
        placeholder="Digite seu email"
        formControlName="email"
        (blur)="validField(forms.get('email'))"
        [ngClass]="{
          'border-danger': validField(forms.get('email'))
        }"
      />
      <app-input-error
        [hasError]="validField(forms.get('email'))"
        [showOnly]="forms.get('email').touched"
        [errorMsg]="'Email está no formato incorreto!'"
        [successMsg]="'Email está no formato válido'"
      ></app-input-error>
    </div>

    <!-- Errors display -->
    <div
      class="alert alert-danger py-2 show-0-100"
      role="alert"
      *ngIf="errors?.length > 0"
    >
      <ul class="m-0 list-unstyled">
        <li *ngFor="let error of errors">{{ error }}</li>
      </ul>
    </div>

    <!-- Success display -->
    <div
      class="alert alert-success py-2 show-0-100"
      role="alert"
      *ngIf="updateSuccess"
    >
      <p>Dados atualizados com sucesso!</p>
    </div>

    <!-- Submit -->
    <button
      class="btn btn-primary btn-lg btn-block mt-4"
      [disabled]="!forms.valid"
    >
      Atualizar dados
    </button>
  </form>
</div>
