.page-title h1 {
  font-size: 25px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: bold;
  color: #589dd4;
}

.form-container {
  min-width: 320px;
  width: 50vw;
}
