.update-form-container {
  position: absolute;
  top: -76px;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.update-bkg {
  background-image: url("../../../assets/images/login_bkg.jpg");
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center center;
  border: none;
  object-fit: contain;
}

.bkg-left {
  top: 0px;
  left: 0px;
  transform: rotate(180deg);
}

.bkg-right {
  top: 0px;
  right: 0px;
}

.form-container {
  min-width: 320px;
  max-width: 600px;
}
