<section class="d-flex vh update-form-container">
  <!-- background -->
  <aside class="update-bkg bkg-left flex-filll"></aside>

  <!-- Update form -->
  <div class="flex-fill">
    <app-update-user-form></app-update-user-form>
  </div>

  <!-- background -->
  <aside class="update-bkg bkg-left flex-filll"></aside>
</section>
