.error-container {
  display: flex;
  padding: 0 10px;
  font-size: 13px;
}
.error-container img {
  width: 8px;
  height: 8px;
  margin-top: 6.5px;
  margin-right: 5px;
}
.error-container p {
  margin: 0px;
}
