<div *ngIf="showOnly">
  <!-- Error display -->
  <div class="error-container text-danger" *ngIf="hasError; else noError">
    <img src="../../../../assets/icons/error_icon.png" alt="error_icon" />
    <p>{{ errorMsg }}</p>
  </div>

  <!-- Success display -->
  <ng-template #noError>
    <div class="error-container text-success">
      <img src="../../../../assets/icons/success_icon.png" alt="success_icon" />
      <p>{{ successMsg }}</p>
    </div>
  </ng-template>
</div>
