@import "../../../../styles/variables.scss";

.goto-login {
  padding: 0px 24px;

  h4 {
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: bold;
  }

  a {
    color: $primary;
    transition: 0.3s;
    &:hover {
      color: $secondary;
    }
  }
}
