<header class="px-4 pt-4 font-weight-bold">
  <p style="font-size: 15px; margin: 0px">Registre-se agora</p>
</header>
<form
  class="form-container container px-4 pb-4"
  [formGroup]="forms"
  (ngSubmit)="onSubmit()"
>
  <!-- Name -->
  <div class="form-group form-input mt-3">
    <img class="mr-2 mb-1" src="../../../../assets/icons/user_icon.png" />
    <label>Nome</label>
    <input
      class="form-control"
      type="text"
      placeholder="Digite seu nome"
      formControlName="name"
      (blur)="validField(forms.get('name'))"
      [ngClass]="{ 'border-danger': validField(forms.get('name')) }"
    />
    <app-input-error
      [hasError]="validField(forms.get('name'))"
      [showOnly]="forms.get('name').touched"
      [errorMsg]="'Nome deve conter no mínimo 5 caracteres'"
      [successMsg]="'Nome válido'"
    ></app-input-error>
  </div>

  <!-- Email -->
  <div class="form-group form-input mt-3">
    <img class="mr-2 mb-1" src="../../../../assets/icons/email_icon.png" />
    <label>Email</label>
    <input
      class="form-control"
      type="email"
      placeholder="Digite seu email"
      formControlName="email"
      (blur)="validField(forms.get('email'))"
      [ngClass]="{
        'border-danger': validField(forms.get('email'))
      }"
    />
    <app-input-error
      [hasError]="validField(forms.get('email'))"
      [showOnly]="forms.get('email').touched"
      [errorMsg]="'Email está no formato incorreto!'"
      [successMsg]="'Email está no formato válido'"
    ></app-input-error>
  </div>

  <div class="container row p-0 m-0" style="gap: 0px 10px">
    <!-- Password -->
    <div class="form-group form-input mt-3 col-md p-0">
      <img class="mr-2 mb-1" src="../../../../assets/icons/password_icon.png" />
      <label>Senha</label>
      <input
        class="form-control"
        type="password"
        placeholder="Digite sua senha"
        formControlName="password"
        [ngClass]="{ 'border-danger': validField(forms.get('password')) }"
      />
      <app-input-error
        [hasError]="validField(forms.get('password'))"
        [showOnly]="forms.get('password').touched"
        [errorMsg]="
          'Senha deve conter 8 dígitos, uma letra maiúscula, um número e um caracter especial(!,@,#,$...)'
        "
        [successMsg]="'Senha válida'"
      ></app-input-error>
    </div>

    <!-- Confirm Password -->
    <div class="form-group form-input mt-3 col-md p-0">
      <img class="mr-2 mb-1" src="../../../../assets/icons/password_icon.png" />
      <label>Confirmar senha</label>
      <input
        class="form-control"
        type="password"
        placeholder="Confirme sua senha"
        formControlName="confirmPassword"
        [ngClass]="{
          'border-danger': validField(forms.get('confirmPassword'))
        }"
      />

      <app-input-error
        [hasError]="!comparePasswords()"
        [showOnly]="forms.get('confirmPassword').touched"
        [errorMsg]="'As senhas digitadas não coincidem'"
        [successMsg]="'Senhas iguais'"
      ></app-input-error>
    </div>
  </div>

  <!-- Errors display -->
  <div
    class="alert alert-danger py-2 show-0-100"
    role="alert"
    *ngIf="errors?.length > 0"
  >
    <ul class="m-0 list-unstyled">
      <li *ngFor="let error of errors">{{ error }}</li>
    </ul>
  </div>

  <div
    class="alert alert-success py-2 show-0-100"
    role="alert"
    *ngIf="registerSuccess"
  >
    <p>
      Registrado com sucesso!<br />
      Redirecionando para login em {{ count }}s
    </p>
  </div>

  <!-- Submit -->
  <button
    class="btn btn-primary btn-lg btn-block mt-4"
    [disabled]="!forms.valid"
  >
    Cadastrar
  </button>
</form>

<!-- Change to register form -->
<div class="goto-login">
  <h4 class="m0">Já possui uma conta?</h4>
  <a routerLink="/user/login">Conecte-se agora!</a>
</div>
