@import "../../../../styles//variables.scss";
.event-header {
  width: 100%;
  min-width: 300px;
  align-items: center;
  justify-content: center;
  margin: 30px 0px;
  gap: 20px;

  h1 {
    color: $primary;
  }
}

.header-img img {
  height: 80px;
  width: 80px;
}

@media (max-width: 1024px) {
  .event-header h1 {
    font-size: 30px;
  }

  .header-img img {
    height: 50px;
    width: 50px;
  }
}

@media (max-width: 768px) {
  .event-header h1 {
    font-size: 20px;
  }

  .header-img img {
    height: 35px;
    width: 35px;
  }
}
