<ul class="nav">
  <li class="nav-item">
    <a routerLink="/home" routerLinkActive="nav-item-active" class="nav-link"
      >Home</a
    >
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/events" routerLinkActive="nav-item-active"
      >Eventos</a
    >
  </li>
  <li class="nav-item">
    <a
      class="nav-link"
      routerLink="/myevents"
      routerLinkActive="nav-item-active"
      >Meus Eventos</a
    >
  </li>
</ul>
