*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@import "./styles/variables.scss";
@import "./styles/input.scss";
@import "./styles/utils.scss";
@import "./styles/animations.scss";
@import "~bootstrap/scss/bootstrap";
