<div class="container">
  <!-- Header -->
  <app-event-header
    [title]="'Atualizar evento'"
    [image]="'update'"
  ></app-event-header>

  <form
    class="form-container px-4 pb-4"
    [formGroup]="forms"
    (ngSubmit)="onSubmit()"
  >
    <!-- Select event -->
    <div class="centralize form-group form-input mt-3">
      <select
        class="custom-select col-md-4"
        [(ngModel)]="eventSelected"
        [ngModelOptions]="{ standalone: true }"
        (change)="findEventData()"
      >
        <option selected hidden>Selecione um evento</option>
        <option *ngFor="let event of userEvents">
          {{ event.name }}
        </option>
      </select>
    </div>

    <!-- Name -->
    <div class="form-group form-input mt-3">
      <img class="mr-2 mb-1" src="../../../../assets/icons/event_icon.png" />
      <label>Nome do evento</label>
      <input
        class="form-control"
        type="text"
        placeholder="Digite o nome do evento"
        formControlName="name"
        (blur)="validField(forms.get('name'))"
        [ngClass]="{ 'border-danger': validField(forms.get('name')) }"
      />
      <app-input-error
        [hasError]="validField(forms.get('name'))"
        [showOnly]="forms.get('name').touched"
        [errorMsg]="'Nome deve conter entre 5 e 20 caracteres.'"
        [successMsg]="'Nome válido.'"
      ></app-input-error>
    </div>

    <!-- Description -->
    <div class="form-group form-input mt-3">
      <img
        class="mr-2 mb-1"
        src="../../../../assets/icons/description_icon.png"
      />
      <label>Descrição</label>
      <input
        class="form-control"
        type="text"
        placeholder="Digite a descrição"
        formControlName="description"
        (blur)="validField(forms.get('description'))"
        [ngClass]="{ 'border-danger': validField(forms.get('description')) }"
      />
      <app-input-error
        [hasError]="validField(forms.get('description'))"
        [showOnly]="forms.get('description').touched"
        [errorMsg]="'Descrição é obrigatória.'"
        [successMsg]="'Descrição válida.'"
      ></app-input-error>
    </div>

    <!-- Start Date -->
    <div class="form-row">
      <div class="form-group form-input mt-3 col-md-6">
        <img class="mr-2 mb-1" src="../../../../assets/icons/event_icon.png" />
        <label>Data de início</label>
        <input
          class="form-control"
          type="date"
          formControlName="startDate"
          (blur)="validField(forms.get('startDate'))"
          [ngClass]="{ 'border-danger': validField(forms.get('startDate')) }"
        />
        <app-input-error
          [hasError]="validField(forms.get('startDate'))"
          [showOnly]="forms.get('startDate').touched"
          [errorMsg]="'Data de início é obrigatória.'"
          [successMsg]="'Data de início válida.'"
        ></app-input-error>
      </div>

      <div class="form-group form-input mt-3 col-md-6">
        <img class="mr-2 mb-1" src="../../../../assets/icons/clock_icon.png" />
        <label>Hora de início</label>
        <input
          class="form-control"
          type="number"
          formControlName="startHour"
          placeholder="Digite a hora de início"
          (blur)="validField(forms.get('startHour'))"
          [ngClass]="{ 'border-danger': validField(forms.get('startHour')) }"
        />
        <app-input-error
          [hasError]="validField(forms.get('startHour'))"
          [showOnly]="forms.get('startHour').touched"
          [errorMsg]="'Hora de início é obrigatória.'"
          [successMsg]="'Hora de início válida.'"
        ></app-input-error>
      </div>
    </div>

    <!-- Finish Date -->
    <div class="form-row">
      <div class="form-group form-input mt-3 col-md-6">
        <img class="mr-2 mb-1" src="../../../../assets/icons/event_icon.png" />
        <label>Data de término</label>
        <input
          class="form-control"
          type="date"
          formControlName="finishDate"
          (blur)="validField(forms.get('finishDate'))"
          [ngClass]="{ 'border-danger': validField(forms.get('finishDate')) }"
        />
        <app-input-error
          [hasError]="validField(forms.get('finishDate'))"
          [showOnly]="forms.get('finishDate').touched"
          [errorMsg]="'Data de término é obrigatória.'"
          [successMsg]="'Data de término válida.'"
        ></app-input-error>
      </div>

      <div class="form-group form-input mt-3 col-md-6">
        <img class="mr-2 mb-1" src="../../../../assets/icons/clock_icon.png" />
        <label>Hora de término</label>
        <input
          class="form-control"
          type="number"
          formControlName="finishHour"
          placeholder="Digite a hora de término"
          (blur)="validField(forms.get('finishHour'))"
          [ngClass]="{ 'border-danger': validField(forms.get('finishHour')) }"
        />
        <app-input-error
          [hasError]="validField(forms.get('finishHour'))"
          [showOnly]="forms.get('finishHour').touched"
          [errorMsg]="'Hora de término é obrigatória.'"
          [successMsg]="'Hora de término válida.'"
        ></app-input-error>
      </div>
    </div>

    <!-- Errors display -->
    <div
      class="alert alert-danger py-2 show-0-100"
      role="alert"
      *ngIf="errors?.length > 0"
    >
      <ul class="m-0 list-unstyled">
        <li *ngFor="let error of errors">{{ error }}</li>
      </ul>
    </div>

    <!-- Success display -->
    <div
      class="alert alert-success py-2 show-0-100"
      role="alert"
      *ngIf="successMsg?.length > 0"
    >
      <p>
        {{ successMsg }}<br />
        Atualize a página para visualizar as edições!
      </p>
    </div>

    <!-- Submit -->
    <button
      class="btn btn-primary btn-lg btn-block mt-4"
      [disabled]="!forms.valid"
    >
      Atualizar evento
    </button>
  </form>
</div>
